<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTAO</title>
</head>

<body>
    <div class="component">
        <!-- <a href="#" class="linkBtnMen">Men Character</a>
        <a href="/girl" class="linkBtnGirl">Girl Character</a> -->
        <form action="">
            <button class="linkBtnMen">Men Character</button>
        </form>
        <form action="/girl">
            <button class="linkBtnGirl">Girl Character</button>
        </form>
    </div>
</body>

</html>