body {
    background-color: #cdd3fc;
}

.component {
    /* margin: auto; */
    /* width: 80%; */
    margin-left: 20%;
    margin-top: 25px;
}

table {
    margin-bottom: 20px;
    width: 80%;
}

button {
    align-items: center;
    border: none;
    /* background-color: #191825; */
    background-color: aqua;
    border-radius:4px;
    width: 100%;
    /* color: white; */
}

/* input { */
    /* background-color: #865DFF; */
    /* color: white; */
/* } */

::placeholder {
    text-align: center;
    /* color: white; */
}

table,
th,
td {
    /* border: 1px solid rgb(188, 231, 248); */
    border: 1px solid rgb(188, 231, 248);
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    background-color: #4286aa;
    width: 100px;
}


.items {
    font-weight: bold;
}

.header {
    color: rgb(0, 0, 0);
}

.content {
    /* color: greenyellow; */
    color: white;
}